<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-programmes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Programmes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-programmes-link">
                <a href="" class="dropdown-item">By Price High to Low</a>
                 <a href="" class="dropdown-item">By Price Low to High</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Programmes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="england-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                England
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="england-link">
                <a href="" class="dropdown-item">Friendlies</a>
                <a href="" class="dropdown-item">Home Internationals</a>
                <a href="" class="dropdown-item">Euro Qualifiers</a>
                <a href="" class="dropdown-item">World Cup Qualifiers</a>
                <a href="" class="dropdown-item">Euro 96</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="finals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Finals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="finals-link">
                <a href="" class="dropdown-item">FA Cup Finals</a>
                <a href="" class="dropdown-item">League Cup Finals</a>
                <a href="" class="dropdown-item">Play off Finals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="other-wembley-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Matches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-wembley-link">
                <a href="" class="dropdown-item">Charity Shield</a>
                <a href="" class="dropdown-item">FA Cup Semi Finals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="non-wembley-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non Wembley
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-wembley-link">
                <a href="" class="dropdown-item">England Away</a>
                <a href="" class="dropdown-item">England on the Road</a>
                <a href="" class="dropdown-item">Misc/Clearance</a>
            </div>
        </li>
    </ul>
</div>