<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-programmes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Programmes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-programmes-link">
                <a href="{% url 'programmes' %}?sort=price&direction=desc" class="dropdown-item">By Price High to Low</a>
                <a href="{% url 'programmes' %}?sort=price&direction=asc" class="dropdown-item">By Price Low to High</a>
                <a href="{% url 'programmes' %}?sort=fixture&direction=asc" class="dropdown-item ">By Club/Country A-Z</a>
                <a href="{% url 'programmes' %}?sort=fixture&direction=desc" class="dropdown-item ">By Club/Country Z-A</a>
                <a href="{% url 'programmes' %}" class="dropdown-item">All Programmes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="england-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                England
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="england-link">
                <a href="{% url 'programmes' %}?category=friendlies" class="dropdown-item">Friendlies</a>
                <a href="{% url 'programmes' %}?category=home_ints" class="dropdown-item">Home Internationals</a>
                <a href="{% url 'programmes' %}?category=euro_qual" class="dropdown-item">Euro Qualifiers</a>
                <a href="{% url 'programmes' %}?category=wc_qual" class="dropdown-item">World Cup Qualifiers</a>
                <a href="{% url 'programmes' %}?category=euros" class="dropdown-item">Euro 96</a>
                <a href="{% url 'programmes' %}?category=friendlies,home_ints,euro_qual,wc_qual,euros" class="dropdown-item">All England at Wembley</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="finals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Finals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="finals-link">
                <a href="{% url 'programmes' %}?category=fa_cupfinals" class="dropdown-item">FA Cup Finals</a>
                <a href="{% url 'programmes' %}?category=league_cupfinals" class="dropdown-item">League Cup Finals</a>
                <a href="{% url 'programmes' %}?category=play_offs" class="dropdown-item">Play off Finals</a>
                 <a href="{% url 'programmes' %}?category=fa_cupfinals,league_cupfinals,play_offs" class="dropdown-item">All Finals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="other-wembley-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Matches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-wembley-link">
                <a href="{% url 'programmes' %}?category=charity_shield" class="dropdown-item">Charity Shield</a>
                <a href="{% url 'programmes' %}?category=cup_semis" class="dropdown-item">FA Cup Semi Finals</a>
                <a href="{% url 'programmes' %}?category=charity_shield,cupsemis" class="dropdown-item">All Other Matches</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="non-wembley-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non Wembley
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-wembley-link">
                <a href="{% url 'programmes' %}?category=england_away" class="dropdown-item">England Away</a>
                <a href="{% url 'programmes' %}?category=england_road" class="dropdown-item">England on the Road</a>
                <a href="{% url 'programmes' %}?category=misc_clear" class="dropdown-item">Misc/Clearance</a>
                <a href="{% url 'programmes' %}?category=england_away,england_road,misc_clear" class="dropdown-item">All Non Wembley</a>
            </div>
        </li>
    </ul>
</div>